@model Resit_Project.Models.CombineStage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CombineStage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cate.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pricelist.Stage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pricelist.Stage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricelistIdList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricelistIdList)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
