@model Resit_Project.Models.Staff

@{
    ViewBag.Title = "Details";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
            @Html.ActionLink("Staff Lists", "Index", "Staffs", new { area = "" }, new { @class = "breadcrumb-item" })
            <span class="breadcrumb-item active">Details</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="text-center">Details</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Birthday)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Birthday)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dd class="col-sm-10">
                <img style="width:120px; height:100px;" class="img-responsive full-width" src="data:image/jpg;base64,@Convert.ToBase64String(Model.Image)" />
            </dd>
        </dl>
    </div>
</div>
<br />

@using (Html.BeginForm("Details", "Staffs", FormMethod.Get))
{
    <div class="form-group">
        <label for="month">Month:</label>
        <input type="text" class="form-control-sm" name="month" id="month" placeholder="Month"/>

        <label for="year">Year:</label>
        <input type="text" class="form-control-sm" name="year" id="year" placeholder="Year"/>

        <label for="name">Search:</label>
        <input type="text" class="form-control-sm" name="name" id="name" placeholder="Code"/>

        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>

}

<h3 class="text-sm-end">Salary: @Html.DisplayFor(model => model.TotalPrice)</h3>

<div>
    <table class="table table-bordered">
        <thead class="table-secondary">
            <tr>
                <th>Code</th>
                <th>Stage</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Date Completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var work in ViewBag.Works)
            {
                <tr>
                    <td>@work.Category.Name</td>
                    <td>@work.PriceListName</td>
                    <td>@work.Quantity</td>
                    <td>@work.Price</td>
                    <td>@work.DateCompleted.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>