@model List<Resit_Project.Models.Work>

@{
    ViewBag.Title = "Work Details";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
            @Html.ActionLink("Category List", "Index", "Categories", new { area = "" }, new { @class = "breadcrumb-item" })
            @Html.ActionLink("Details", "Details", "Categories", new { area = "" }, new { @class = "breadcrumb-item" })
            <span class="breadcrumb-item active">Work Details</span>
        </nav>
    </div>
</div>

<div class="card-body">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Work Details</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    <a>Code</a>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstOrDefault().Category.Name)
                </dd>
                <dt class="col-sm-2">
                    <a>Month / Year</a>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstOrDefault().Category.Month) / @Html.DisplayFor(model => model.FirstOrDefault().Category.Year)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Category.Quantity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstOrDefault().Category.Quantity)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Category.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstOrDefault().Category.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Category.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstOrDefault().Category.Description)
                </dd>
            </dl>
            <p>
                @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
</div>

<br />
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <a>Staff</a>
                </th>
                <th>
                    <a>Stage</a>
                </th>
                <th>
                    <a>Quantity</a>
                </th>
                <th>
                    <a>Price</a>
                </th>
                <th>
                    <a>Date Completed</a>
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var work in Model)
                {
                    <tr>
                        <td>@work.Staff.FullName</td>
                        <td>@work.PriceListName</td>
                        <td style="@(work.Category.Quantity == ViewBag.TotalQuantity ? "background-color: lightgreen;" : (work.Category.Quantity < ViewBag.TotalQuantity ? "background-color: red;" : "background-color: yellow;"))">
                            @work.Quantity
                        </td>
                        <td>@work.Price.ToString("#,##0") VND</td>
                        <td>@work.DateCompleted</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = work.WorkId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Delete", "Delete", new { id = work.WorkId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No works found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>