@model Resit_Project.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Details Code</h2>
<h3 class="text-center">
    @Html.DisplayFor(model => model.Name)
</h3>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <a>Stage</a>
                </th>
                <th>
                    <a>Machine</a>
                </th>
                <th>
                    <a>Price</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var price in ViewBag.priceLists)
            {
                <tr>
                    <td>
                        @price.Stage
                    </td>
                    <td>
                        @price.Machine
                    </td>
                    <td>
                        @price.Price.ToString("#,##0") ¢
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
